body{
    background-color: white;
    margin: auto;
}


.left ul {
    float: left;
    list-style-type: none;
}
.left li{
    float: right;
}

.right ul{
    list-style-type: none;
    float: right;
}
.right li{
    float: left;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    display: block;
    text-align: center;
    width: 80px;
    padding: 5px;
}



.logo-img{
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}
.form{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:1px solid #dfe1e5;
    border-radius: 24px
}
.btn{
    display: block;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100%;
}

.btn, button{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    text-align:center;
}
button{
    display: inline;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    margin: 11px 4px;
    font-family: arial,sans-serif;
    border: 1px solid #303134;
    border-radius: 4px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.loc{
    display: block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    float: left;
}

.loc, p{
    display: inline;
    margin: 5px;
    font-weight: lighter;
}
.footer{
    display: inline;
    width: 1px;
    margin-left: auto;
    margin-right: auto;
    

}
.infoLeft, ul {
    margin-top: 50px;
    float: left;
    list-style-type: none;
}
.infoLeft, li{
    float: right;
}

.infoRight, ul{
    list-style-type: none;
    float: right;
    padding-right: 0%;
}
.infoRight, li{
    float: left;
}